/* General Styling */
body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dancing Script', cursive;
}

/* Webpage Layout */
.webpage {
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

/* Hero Section Styling */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between image and video */
  height: 70vh;
  background-color: #ACD8D6;
  position: relative;
  margin: 0 auto;
}

.hero-image {
  flex: 1;
  height: 100%;
  background-image: url('C:\Users\prashasti\Desktop\PERSONAL-STYLIST\public\WhatsApp Image 2024-09-20 at 23.54.46.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 23% center;
}

.hero-video {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 5%;
  align-items: center;
  padding-right: 20px;
}

.hero-video video {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

/* Button Styling */
.button {
  background-color: #ff004f; /* Initial background color */
  color: #ffffff; /* Initial text color */
  border: 2px solid #ffffff; /* Initial border color */
  font-size: 19px; /* Adjust font size */
  padding: 11px 30px; /* Adjust padding */
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition */
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff; /* Hover background color */
  color: #e00042; /* Hover text color */
  transform: translateY(-2px); /* Slight hover effect */
  border: 2px solid #e00042;
}

/* Specific Container for Button */
.button-container {
  text-align: center;
  margin-top: 30px;
}

/* Media Section (Image on Left, Video on Right) */
.media-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 40px auto; /* Centers the section horizontally */
}

.image-container {
  flex: 1;
  padding-right: 150px;
  padding-left: 30px;
}

.fashion-image {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.video-container {
  flex: 1;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 0;
}

.hover-video {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}